.pageContent {
  flex: 1;
  min-height: 100vh;
  margin-top: 50px;
}

.cartTable {
  width: 100%;
}

.cartTable th,
.cartTable td {
  border: none;
  padding: 15px;
}

.cartTable tr:not(:last-child) {
  border-bottom: 2px solid black;
}

.cartImage {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.deleteButton {
  background-color: transparent;
  border: none;
  padding: 8px;
  margin-right: 10px;
}

.deleteButton:hover {
  background-color: #6d0d16 !important;
  border-radius: 50%;
}

.trashAndImage {
  display: flex;
  align-items: center;
}

.quantityControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantityButton {
  border: none;
  background-color: transparent;
  padding: 0 10px;
}

.quantityButton:hover {
  background-color: #f0f0f0;
}

.centerContent {
  text-align: center;
}
.cartTable td {
  vertical-align: middle;
}

.trashAndImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalPriceDisplay {
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  margin-top: 15px;
}

.cartTitle {
  text-align: center;
  margin-bottom: 20px;
}
