.pageContent {
  flex: 1;
  min-height: 100vh;
  margin-top: 20px;
}
.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2em;
}
.productGrid > * {
  display: flex;
  align-items: center;
  justify-content: start;
}
.productGrid > .header {
  font-size: 20px;
  font-weight: 600;
  color: var(--accent);
}
/* .productGrid .cartTable {
  width: 100%;
  background-color: var(--secondary);
} */

.cartTable th,
.cartTable td {
  border: none;
  padding: 15px;
}

.cartTable tr:not(:last-child) {
  border-bottom: 2px solid grey;
}

.cartImage {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

/* .deleteButton {
  background-color: transparent;
  border: none;
  padding: 8px;
  margin-right: 10px;
  margin-top: -5px;
}

.deleteButton:hover {
  background-color: #6d0d16 !important;
  border-radius: 50%;
} */

.trashAndImage {
  display: flex;
  align-items: center;
}

.quantityControls {
}
.priceContainer {
  margin: 0;
}
.quantityButton {
  border: none;
  background-color: transparent;
  opacity: 0.7;
  padding: 0 10px;
  transition: all 100ms ease-in;
}
.quantityButton > span {
  height: max-content;
  font-size: 2em;
  opacity: 1;
  transition: all 100ms ease-in;
}

.quantityButton:hover {
  background-color: var(--secondary);
  color: var(--accent);
  opacity: 1;
  transform: scale(1.1);
}

.centerContent {
  text-align: center;
}
.cartTable td {
  vertical-align: middle;
}

.trashAndImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalPriceDisplay {
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  margin-top: 15px;
}

.cartTitle {
  text-align: center;
  margin-bottom: 20px;
}

.productLink {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in;
}
.productLink:hover {
  text-decoration: underline;
}

.cartImage:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.cartCard,
.summaryCard {
  border: 1px solid var(--accent);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.summaryCard > hr {
  border: 1px solid var(--accent);
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.summaryTotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.checkoutButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.checkoutButtonContainer > button {
  width: 90% !important;
  display: flex;
  justify-content: center;
}
.totalValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3em;
  gap: 1em;
}
.deleteButton {
  padding: 0;
}
.deleteButton > img {
  width: 24px;
}
/* .deleteButton {
  background-color: transparent;
  border: none;
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #6d0d16;
  border-radius: 50%;
} */

.emptyCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; /* Adjust the height as needed */
  text-align: center; /* Add this for centering the text */
  margin-left: 450px;
}
