.cardBody {
  background-color: var(--secondary);
  border: 0;
  font-size: 28px;
  font-weight: 400;
}
.cardTitle {
  font-size: 28px;
  font-weight: 600;
}
.priceContainer > p {
  margin: 0;
}
.subTotal {
  text-align: right;
}
.cardBody > * {
  border: 0;
}
.makeSentenceCase {
  text-transform: capitalize;
}
.continue-shopping-button {
  display: block;
  text-decoration: none;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 3em;
}
