.cardBody {
  background-color: var(--secondary);
  border: 0;
  font-size: 18px;
  font-weight: 400;
}
.cardTitle {
  font-size: 28px;
  font-weight: 600;
}
.priceContainer > p {
  margin: 0;
}
.subTotal {
  text-align: right;
}
.cardBody > * {
  border: 0;
}
.makeSentenceCase {
  text-transform: capitalize;
}
.continue-shopping-button {
  display: block;
  text-decoration: none;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 3em;
}

.emptyCart {
  text-align: center; /* Center content horizontally */
  margin-top: 40px; /* Add some spacing from the top */
}

.emptyCartImage {
  display: block;
  margin: 0 auto 20px; /* Center image, add bottom margin */
  max-width: 200px; /* Adjust max-width as needed */
}

.emptyCartText {
  font-size: 1.2em; /* Adjust font size as needed */
}
